.Div-Absolute-Header{
    top:0;
    box-shadow: 0 0 15px grey;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Div-Absolute-Footer{
    bottom: 0;
    box-shadow: 0 0 15px grey;
    padding-top: 10px;
    padding-bottom: 10px;
}